In [1]:
!pip install folium

Collecting folium
  Downloading folium-0.17.0-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.7.2-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from folium) (2.31.0)
Collecting xyzservices (from folium)
  Downloading xyzservices-2024.9.0-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from jinja2>=2.9->folium) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rival\appdata\roaming\python\python312\site-packages (from requests->folium) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rival\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (2024.2.2)
Downloading folium-0.17.0-py2.py3-none-any.whl (108 kB)
Downloading branca-0.7.2-py3-none-any.whl (25 kB)
Downloading xyzservices-2024.9.0-py3-none-any.whl (85 kB)
Installing collected packages: xyzservices, branca, folium
Successfully installed branca-0.7.2 folium-0.17.0 xyzservices-2024.9.0

In [2]:
import pandas as pd
import folium
import json

In [3]:
csv_file_path = "../../../csv/demographics/us_states_by_tfr.csv"
states_geo_json = "../../../geojson/us_state.geojson"

In [4]:
df = pd.read_csv(csv_file_path)

In [5]:
df.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,name
0,Alabama,2.06,1.95,1.87,1.84,1.81,1.79,1.83,1.83,1.82,1.82,1.79,1.81,1.78,1.77,1.74,AL
1,Alaska,2.40,2.27,2.35,2.28,2.19,2.22,2.19,2.17,2.14,2.02,1.97,1.94,1.89,1.89,1.89,AK
2,Arizona,2.31,2.11,2.07,2.00,2.00,1.97,1.97,1.92,1.87,1.79,1.72,1.67,1.58,1.64,1.62,AZ
3,Arkansas,2.16,2.07,2.00,2.00,1.97,1.94,1.97,1.98,1.95,1.91,1.88,1.86,1.79,1.84,1.79,AR
4,California,2.15,2.05,1.95,1.90,1.89,1.84,1.84,1.79,1.77,1.69,1.63,1.60,1.52,1.54,1.54,CA

In [6]:
try:
    geo_data = json.load(open(states_geo_json, encoding='utf-8'))
except:
    geo_data = json.load(open(states_geo_json, encoding='utf-8-sig'))

In [8]:
geo_map = folium.Map(location = [40,-100], zoom_start=2)
geo_map='2022'

In [12]:
df[geo_map].min()

1.24

In [13]:
threshold_scale=[1.1,1.3,1.5,1.7,1.9,2.1]

In [15]:
folium.Choropleth(geo_data=geo_data,
                  data=df,
                  columns=['name',target_year],
                  key_on='feature.id',
                  fill_color='YlGn',
                  fill_opacity=0.7,
                  line_opacity=0.2,
                  legend_name="TFR by states-"+target_year,
                  #bins=bins,
                  threshold_scale=threshold_scale,                  
                  reset=True
                 ).add_to(geo_map)

In [18]:

save_path = "../../../html/us-states-tfr-"+target_year+".html"

geo_map.save(save_path)