In [13]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5],
    'Make': ['Toyota', 'Honda', 'Ford', 'Tesla', 'Toyota'],
    'Model': ['Camry', 'Civic', 'Mustang', 'Model 3', 'Prius'],
    'Fuel Type': ['Gasoline', 'Hybrid', 'Gasoline', 'Electric', 'Hybrid'],
}

df = pd.DataFrame(data)
df = df.set_index('ID')
df.head()

      Make    Model Fuel Type
ID
1   Toyota    Camry  Gasoline
2    Honda    Civic    Hybrid
3     Ford  Mustang  Gasoline
4    Tesla  Model 3  Electric
5   Toyota    Prius    Hybrid

In [27]:
df.describe().loc['unique']

Make         4
Model        5
Fuel Type    3
Name: unique, dtype: object

In [14]:
df_one_hot = pd.get_dummies(df, columns=['Make','Model', 'Fuel Type'])

In [15]:
df_one_hot

    Make_Ford  Make_Honda  ...  Fuel Type_Gasoline  Fuel Type_Hybrid
ID                         ...
1       False       False  ...                True             False
2       False        True  ...               False              True
3        True       False  ...                True             False
4       False       False  ...               False             False
5       False       False  ...               False              True

[5 rows x 12 columns]

In [31]:
df_one_hot.shape[1] == df.describe().loc['unique'].sum()

True

### Encoder

In [35]:
df.

      Make    Model Fuel Type
ID
1   Toyota    Camry  Gasoline
2    Honda    Civic    Hybrid
3     Ford  Mustang  Gasoline
4    Tesla  Model 3  Electric
5   Toyota    Prius    Hybrid

In [36]:
def convert_to_one_hot(df, columns):
    df_one_hot = pd.get_dummies(df, columns=columns)
    return df_one_hot